header {
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
}

.right-links {
  margin-left: auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-by-category {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-wrap: wrap;
  gap: 12px;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0;
}

.cat-card-link {
  text-align: center;
}